<div class="container">

  <app-navbar></app-navbar>
<h1>Add the task</h1>
  <br>
  <div>
    <form #myForm="ngForm" (ngSubmit)="!myForm.invalid && addNewTask()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Assigned to:</label>
          <select
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="clientEmail"
            required #name="ngModel"
          >
            <option
              *ngFor="let client of (allClients | async)" [value]="client.email">
              {{client.email}}</option>
          </select>
          <div *ngIf="name.touched && !name.valid"
               class="alert alert-danger">
            User is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text"
               class="form-control"
               id="subject"
               name="subject"
               placeholder="Subject"
               [(ngModel)]="subject"
              required #test="ngModel"
        >
        <div *ngIf="test.touched && !test.valid"
             class="alert alert-danger">

          Subject is required
        </div>

      </div>
      <div class="form-group">
        <label for="duedate">Due date:</label>
        <input type="date"
               class="form-control"
               id="duedate"
               name="duedate"
               placeholder=""
               [(ngModel)]="duedate"
                required #date="ngModel"
        >
        <div *ngIf="date.touched && !date.valid"
             class="alert alert-danger">

          Date is required
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Status: </label>
          <select [(ngModel)]="status"
                  id="inputState"
                  name="inputState"
                  class="form-control"

                  required #state="ngModel"
          >
            <option value=""></option>
            <option value="New">New</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
          </select>
          <div *ngIf="state.touched && !state.valid"
               class="alert alert-danger">
            User is required
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Save</button>
      <button class="btn btn-danger" (click)="resetForm(myForm)">Reset Form</button>
    </form>
    <div>
    </div>
  </div>
</div>

