<div class="container">

  <app-navbar></app-navbar>

  <div>
    <form  #myForm="ngForm" (ngSubmit)="addNewTask()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Assigned to:</label>
          <select id="name" name="name"
                  class="form-control"
                  [(ngModel)]="clientEmail">
            <option
              *ngFor="let client of (allClients | async)" [value]="client.username">
              {{client.email}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text"
               class="form-control"
               id="subject"
               name="subject"
               placeholder=""
        [(ngModel)]="subject">
      </div>
      <div class="form-group">
        <label for="duedate">Due date:</label>
        <input type="date"
               class="form-control"
               id="duedate"
               name="duedate"
               placeholder=""
        [(ngModel)]="duedate">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Status: </label>
          <select [(ngModel)]="status" id="inputState" class="form-control" name="inputState" >
            <option value=""></option>
            <option value="New">New</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Save</button>
      <button  class="btn btn-danger" (click)="resetForm(myForm)">Reset Form</button>
    </form>
    <div>
</div>
  </div>
  </div>

