<div class="container">
  <h1>All Tasks</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">My Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-tasks">All Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-tasks">Add new task</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
  <!--  <p>currentUser: {{localStorage.getItem('currentUser')}}</p>-->
  <!--  <p>currentUser: {{localStorage.getItem('token')}}</p>-->
  <br><br><br><br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Status</th>
      <th scope="col">Due Date</th>
      <th scope="col">Assigned to</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of allTask">
      <th scope="row">{{task.id}}</th>
      <td>{{task.subject}}</td>
      <td>{{task.status}}</td>
      <td>{{task.duedate}}</td>
      <td>{{task.clientEmail}}</td>
    </tr>
    </tbody>
  </table>
</div>
