<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <h2>Login</h2>
      <form (ngSubmit)="!userForm.invalid && login()" #userForm="ngForm">
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" [(ngModel)]="client.username"
                 class="form-control"
                 id="username"
                 name="username"
                 placeholder="Enter your email address"
                 required #username="ngModel">
          <div *ngIf="username.touched && !username.valid"
               class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="client.password"
                 class="form-control"
                 id="password"
                 name="password"
                 placeholder="Enter your password"
                 required #password="ngModel">
          <div *ngIf="password.touched && !password.valid"
               class="alert alert-danger">
            Password is required
          </div>
        </div>
        <div *ngIf="showMessage==true">
          <p class="text-danger">{{message}}</p>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid"
                class="btn btn-info">Login
        </button>
        <button type="button"
                class="btn btn-danger" (click)="resetForm(userForm)">Reset form</button>
      </form>
      <a routerLink="/register">Don't have an account?</a>
    </div>
  </div>
</div>

