<div class="container">
  <app-navbar></app-navbar>
  <div *ngIf="allTask">
    <form #myForm="ngForm" (ngSubmit)="updateTask()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <h3>Assigned to: {{newTask.clientEmail}}</h3>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Reassign to:</label>
          <select id="name" name="name" [(ngModel)]="allTask.clientEmail" class="form-control">{{allTask.clientEmail}}
            <option
              *ngFor="let client of (allClients | async)"
              [value]="client.username">
              {{client.username}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text"
               class="form-control"
               id="subject" name="subject"
               [(ngModel)]="allTask.subject"
               placeholder="{{allTask.subject}}"
               maxlength="100"
        >
      </div>
      <div class="form-group">
        <label for="duedate">Due date: {{newTask.duedate}}</label>
        <input type="date"
               class="form-control"
               id="duedate"
               name="duedate"
               [(ngModel)]="allTask.duedate"
               placeholder="{{allTask.duedate}}">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Status:  {{newTask.status}}</label>
          <select id="inputState" class="form-control" name="inputState" [(ngModel)]="allTask.status">
            <option value="{{allTask.status}}">{{allTask.status}}</option>
            <option value="New">New</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mr-auto" [disabled]="!myForm.form.valid">Save</button>
        <button type="submit" class="btn btn-danger" (click)="deleteTask()">Delete task</button>

        <button type="button" class="btn btn-danger" (click)="redirect()">Go to homepage</button>
      </div>
    </form>
  </div>
</div>
